:root {
  --primary: #acacac;
  --secondary: red;
  background-color: #f4f1ed;

  /* --bg-color: red;
  --link-color: green;
  --link-hover-color: blue;
  --color-4: hotpink;
  --color-5: rebeccapurple;

  --primary-font: "montserrat", sans-serif;
  --secondary-font: "Droid Serif", serif;
  --main-text-color: #000;

  --white-space: 1rem;

  --bg-color: rgb(83, 44, 44);
  --link-color: #000;
  --link-hover-color: #000;
  --color-4: #000;
  --color-5: #000;

  --primary-font: sans-serif;
  --secondary-font: serif;
  --main-text-color: #000;

  --white-space: 2rem; */
}

body {
  scroll-behaviour: smooth;
  background-color: #f4f1ed;
  transition: background-color 1s ease;
}

.bg-primary-jotto {
  background-color: #f4f1ed !important;
}

.navbar-jotto {
  font-family: "Montserrat", sans-serif !important;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.davi-btn-primary {
  background-color: var(--primary);
  color: #fff !important;
  font-family: "Helvetica Neue";
}

.davi-hero {
  background-image: url(../img/test-bg.png);
  background-color: var(--primary);
  background-size: cover;
  /* background-blend-mode: overlay; */
  /* background-position: 100% 50%; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 50% 120%;
  height: calc(100vh - 56px);
}

.vertical {
  border-right: 1px solid black;
  height: 50px;
  position: relative;
  right: 50%;
}

#eucalyptus {
  width: 100%;
}
#ginger {
  width: 100%;
}
#vanilla {
  width: 100%;
}
#matchamint {
  width: 100%;
}
#lemonverb {
  width: 100%;
}
#salmiak {
  width: 100%;
}

#test0 {
  width: 100%;
}

#instagram {
  width: 100%;
}

#test1 {
  /* background-color: rgba(255, 255, 255, 0.39); */
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  background-image: url(../img/tandpasta-enkel.3.design.png);
}
#test2 {
  /* background-color: rgba(255, 255, 255, 0.39); */
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  background-image: url(../img/tandpasta-enkel.3.design.png);
}
#test3 {
  /* background-color: rgba(255, 255, 255, 0.39); */
  background-size: cover;
  background-position: 50% 100%;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  background-image: url(../img/tandpasta-enkel.3.design.png);
}

.produkter img {
  width: 100%;
}

.h1-jotto {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.h2-jotto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.h3-jotto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
}
p.tekst-jotto {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

/* .euc-sec {
  background-color: aqua;
} */

.img1 {
  margin-top: -13vw;
}

.img2 {
  margin-top: -3vw;
}

.img3 {
  margin-top: -3vw;
}

.img4 {
  margin-top: -4.5vw;
}

@media (min-width: 576px) {
  .davi-hero {
    height: 85vh;
    min-height: 300px;
  }

  .h1-jotto {
    font-size: 3.75rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }

  .h2-jotto {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .h3-jotto {
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
  }
  p.tekst-jotto {
    font-family: "Roboto Slab", serif;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5;
  }

  .produkter img {
    height: 60vh;
  }
}
